body {
  margin: 0;
  padding: 0;

  font-family: "Lemonada", sans-serif;
}

#container {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  position: relative;
}

#lowerthird-container {
  position: absolute;
  bottom: 550px;
  right: 150px;
}

#lowerthird-container #logo-container {
  width: 165px;
  float: right;
  position: absolute;
  z-index: 100;
  right: -65px;
  top: 0;
  transition: all ease-in-out 0.15s;
  opacity: 0;
}

#lowerthird-container #logo-container img {
  width: 100%;
  border-radius: 50%;
}

#lowerthird-container #large-name-container {
  width: 0;
  height: 90px;
  clip-path: polygon(29% 0, 100% 0, 100% 100%, 15% 100%);
  background: linear-gradient(180deg, #2690b1 80%, #16708c 80%);
  display: flex;
  justify-content: end;
  padding-right: 0;
  box-sizing: border-box;
  margin-top: 10px;
  transition: all ease-in-out 0.5s;
  margin-right: 31px;
}

#lowerthird-container #large-name-container #large-name {
  color: white;
  position: relative;
  font-weight: 800;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  margin-top: -4px;
}

#lowerthird-container #small-name-container {
  text-align: right;
  width: 0;
  min-width: 0;
  height: 50px;
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 35px 100%);
  background: linear-gradient(180deg, #888 24%, #666 60%);
  padding-right: 0;
  position: absolute;
  right: 39px;
  transition: all ease-in-out 0.35s;
  margin-top: 95px;
  z-index: 1;
  color: white;
  line-height: 3rem;
  padding-left: 0;
  overflow: hidden;
}

#lowerthird-container #small-name-container.open {
  transition: all ease-in-out 0.35s;
  min-width: 300px;
  padding-right: 80px;
  padding-left: 30px;
}
